<h1>Events Home Page</h1>
<center>
  <table class="tg">
    <thead>
      <tr>
        <th class="tg-hgcj"><%= link_to 'Statuses', statuses_path %></th>
        <th class="tg-hgcj">People</th>
        <th class="tg-hgcj">More</th>
      </tr>
    </thead>
  </table>
</center>